<div class="wrapper">
    <div class="page-header section-dark header-img">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">Looking for best services?</h1>
                    <h1 class="presentation-title">Become a service provider?</h1>
                </div>
                <h2 class="presentation-subtitle text-center">You are in the right place!</h2>
            </div>
        </div>
        <div class="moving-clouds moving-clouds-img"></div>
        <h6 class="category-absolute ml-auto mr-auto">Powered by ©MyApp
            <span>
                <img src="../../../content/images/angular-logo.png" class="logo">
            </span>
        </h6>
    </div>
    <div class="">
        <div class="section section-with-space">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">You will find...</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <ul class="h5">
                            <li>
                                Local services based on your requirments
                            </li>
                            <li>
                                Timely and accurate matching your criteria
                            </li>
                            <li>
                                Recommendation with credible rating and ranking
                            </li>
                            <li>
                                Maximized quality of service on your cost
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-light-blue">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Yes, you can...</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <ul class="h5">
                            <li>
                                Offer professional services in desired area
                            </li>
                            <li>
                                Make profit on your limited time
                            </li>
                            <li>
                                Share your experience with others
                            </li>
                            <li>
                                Accumulating reputation in your field
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-image section-login login-img">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
                <div id="">
                    <div *ngIf="isLogin; else register">
                        <div *ngIf="isLogin" title="{{'login.title' | translate}}">
                            <jhi-signin (close)="onChange($event)"></jhi-signin>
                        </div>
                    </div>
                    <ng-template #register>
                        <div *ngIf="!isLogin" title="{{'register.title' | translate}}">
                            <jhi-signup (close)="onChange($event)"></jhi-signup>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Do you like what you see?</h2>
                <p class="description">Cause if you do, it can be yours for Free. Hit the button below and download it.
                    Start a new project or give an old Bootstrap 4 project a new look.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 download-area ml-auto mr-auto">
                <a href="" class="btn btn-warning btn-round">Join us!</a>
                <a href="" class="btn btn-danger btn-round">Placing ad!</a>
            </div>
        </div>
        <div class="row justify-content-md-center sharing-area text-center">
            <div class="text-center col-md-12 col-lg-8">
                <h3>Thank you for supporting us!</h3>
            </div>
            <div class="text-center col-md-12 col-lg-8">
                <a href="#" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip" title="Tweet!">
                    <i class="fa fa-twitter"></i> Twitter
                </a>
                <a href="#" class="btn btn-google-bg linkedin-sharrre btn-round" rel="tooltip" title="Share!">
                    <i class="fa fa-google-plus-g"></i> Google
                </a>
                <a href="#" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!">
                    <i class="fa fa-facebook-square"></i> Facebook
                </a>
                <a href="#"
                   class="btn btn-github-bg btn-github sharrre btn-round" rel="tooltip" title="Star on Github">
                    <i class="fa fa-github"></i> Star
                </a>
            </div>
        </div>
    </div>
</div>

