<div class="login-body">
    <div id="login-wrapper">
        <div id="login-container">
            <div *ngIf="isLogin; else register">
                <p-card *ngIf="isLogin" title="{{'login.title' | translate}}">
                    <jhi-signin (close)="onChange($event)"></jhi-signin>
                </p-card>
            </div>
            <ng-template #register>
                <p-card *ngIf="!isLogin" title="{{'register.title' | translate}}">
                    <jhi-signup (close)="onChange($event)"></jhi-signup>
                </p-card>
            </ng-template>
        </div>
        <!--<div class="login-footer">©2018 {{'global.title' | translate}}. All rights reserved.</div>-->
        <div class="login-footer"></div>
        <!--<div class="login-footer-down"></div>-->
    </div>
</div>
