<div class="">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <div class="alert alert-danger" *ngIf="authenticationError"
                 jhiTranslate="login.messages.error.authentication">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
        </div>
        <div class="col-sm-8">
            <form class="form" role="form" (ngSubmit)="login()">
                <div class="ui-inputgroup m-group">
                    <span class="ui-inputgroup-addon m-addon"><i class="fa fa-user"></i></span>
                    <input class="m-input" type="text" pInputText [(ngModel)]="username"
                           name="username" id="username"
                           placeholder="{{'global.form.username.placeholder' | translate}}">
                </div>
                <div class="ui-inputgroup m-group">
                    <span class="ui-inputgroup-addon m-addon"><i class="fa fa-lock"></i></span>
                    <input class="m-input" type="password" pInputText [(ngModel)]="password"
                           name="password" id="password"
                           placeholder="{{'login.form.password.placeholder' | translate}}">
                </div>
                <!--<div class="ui-inputgroup m-group">-->
                <!--<div class="form-check pull-left">-->
                <!--<label class="form-check-label" for="rememberMe">-->
                <!--<input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe"-->
                <!--[(ngModel)]="rememberMe">-->
                <!--<span jhiTranslate="login.form.rememberme">Remember me</span>-->
                <!--</label>-->
                <!--</div>-->
                <!--</div>-->
                <div class="ui-inputgroup m-group">
                    <div class="pull-left">
                        <label for="rememberMe" (click)="rememberMe = !rememberMe">
                            <p-checkbox name="rememberMe" id="rememberMe"
                                        [(ngModel)]="rememberMe"
                                        binary="true"></p-checkbox> &nbsp;
                            <span jhiTranslate="login.form.rememberme">Remember me</span>
                        </label>
                    </div>
                </div>
                <button class="m-button pull-left" pButton type="submit" jhiTranslate="login.form.button">Sign in
                </button>
            </form>
        </div>
        <div class="col-sm-offset-1 col-sm-2">
            <br/>
            <jhi-social provider="google"></jhi-social>
            <jhi-social provider="facebook"></jhi-social>
            <jhi-social provider="twitter"></jhi-social>
            <!-- jhipster-needle-add-social-button -->
        </div>
    </div>
    <div class="row justify-content-center margin-top-20">
        <div class="col-sm-offset-1 col-sm-10">
            <div class="alert alert-warning">
                <small>
                    <a class="alert-link" (click)="requestResetPassword()" jhiTranslate="login.password.forgot">
                        Forget your password?</a>
                </small>
            </div>
            <div class="alert alert-warning">
                <small>
                    <!--<span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>-->
                    <a class="alert-link" (click)="register()" jhiTranslate="global.messages.info.register.link">
                        Register a new account
                    </a>
                </small>
            </div>
        </div>
    </div>
</div>
