<!--<form ngNoForm action="{{ providerURL }}" method="POST">-->
    <!--<button type="submit" class="btn btn-block jh-btn-social jh-btn-{{ provider }}">-->
        <!--&lt;!&ndash;<span jhiTranslate="social.btnLabel" translateValues="{ label: '{{label}}' }">Sign in with {{ label }}</span>&ndash;&gt;-->
        <!--<span class="fa fa-{{ provider }}"></span>-->
    <!--</button>-->
    <!--<input name="scope" type="hidden" value="{{ providerSetting }}"/>-->
    <!--<input name="_csrf" type="hidden" value="{{ csrf }}"/>-->
<!--</form>-->

<form action="{{ providerURL }}" method="POST">
    <a href="" class="btn btn-neutral btn-{{ provider }} btn-just-icon">
        <i *ngIf="provider == 'google'" class="fa fa-google-plus-g"></i>
        <i *ngIf="provider == 'facebook'" class="fa fa-facebook-square"></i>
        <i *ngIf="provider == 'twitter'" class="fa fa-twitter"></i>
    </a>
    <input name="scope" type="hidden" value="{{ providerSetting }}"/>
    <input name="_csrf" type="hidden" value="{{ csrf }}"/>
</form>
