<div class="card card-register">
    <h3 class="title">Sign In</h3>
    <!--<div class="row justify-content-center">-->
    <!--<div class="col-sm-12">-->
    <div class="row justify-content-center" style="display: inherit">
        <jhi-social provider="google"></jhi-social>
        <jhi-social provider="facebook"></jhi-social>
        <jhi-social provider="twitter"></jhi-social>
    </div>
    <div style="margin-top: 10px">
        <div class="alert alert-danger" *ngIf="authenticationError"
             jhiTranslate="login.messages.error.authentication">
            <strong>Failed to sign in!</strong> Please check your credentials and try again.
        </div>
    </div>
    <!--</div>-->
    <!--<div class="col-sm-8">-->
    <form class="register-form" role="form" (ngSubmit)="login()" #signinForm="ngForm">

        <label for="email" jhiTranslate="global.form.email">Email</label>
        <div class="input-group form-group-no-border">
                    <span class="input-group-addon">
                        <i class="far fa-envelope"></i>
                    </span>
            <input class="form-control" type="email" [(ngModel)]="username"
                   id="email" name="email"
                   minlength=5 maxlength=100 email required>
        </div>
        <label for="password" jhiTranslate="global.form.newpassword">Password</label>
        <div class="input-group form-group-no-border">
                    <span class="input-group-addon">
                        <i class="fa fa-key"></i>
                    </span>
            <input class="form-control" type="password" [(ngModel)]="password"
                   id="password" name="password"
                   minlength=4 maxlength=50 required>
        </div>

        <!--<div class="ui-inputgroup m-group">-->
        <!--<span class="ui-inputgroup-addon m-addon"><i class="fa fa-user"></i></span>-->
        <!--<input class="m-input" type="text" pInputText [(ngModel)]="username"-->
        <!--name="username" id="username"-->
        <!--placeholder="{{'global.form.username.placeholder' | translate}}">-->
        <!--</div>-->
        <!--<div class="ui-inputgroup m-group">-->
        <!--<span class="ui-inputgroup-addon m-addon"><i class="fa fa-lock"></i></span>-->
        <!--<input class="m-input" type="password" pInputText [(ngModel)]="password"-->
        <!--name="password" id="password"-->
        <!--placeholder="{{'login.form.password.placeholder' | translate}}">-->
        <!--</div>-->
        <!--<div class="ui-inputgroup m-group">-->
        <!--<div class="form-check pull-left">-->
        <!--<label class="form-check-label" for="rememberMe">-->
        <!--<input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe"-->
        <!--[(ngModel)]="rememberMe">-->
        <!--<span jhiTranslate="login.form.rememberme">Remember me</span>-->
        <!--</label>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="input-group">-->
        <!--<input type="checkbox" name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe"/>-->
        <!--<label for="rememberMe">{{'login.form.rememberme' | translate}}</label>-->
        <!--</div>-->
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe"
                       [(ngModel)]="rememberMe">
                {{'login.form.rememberme' | translate}}
                <span class="form-check-sign"></span>
            </label>
        </div>
        <button class="btn btn-danger btn-block btn-round" type="submit" jhiTranslate="login.form.button">Sign in
        </button>
    </form>
    <!--</div>-->
    <!--<div class="col-sm-offset-1 col-sm-2">-->
    <!--<br/>-->
    <!--<jhi-social provider="google"></jhi-social>-->
    <!--<jhi-social provider="facebook"></jhi-social>-->
    <!--<jhi-social provider="twitter"></jhi-social>-->
    <!--&lt;!&ndash; jhipster-needle-add-social-button &ndash;&gt;-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row justify-content-center margin-top-20">-->
    <!--<div class="col-sm-offset-1 col-sm-10">-->
    <div class="forgot">
        <a class="btn btn-link btn-danger" (click)="requestResetPassword()" jhiTranslate="login.password.forgot">
            Forgot your password?</a>
    </div>
    <!--<div class="forgot">-->
    <!--<a class="btn btn-link btn-info" (click)="guest()" jhiTranslate="global.messages.info.guest">-->
    <!--Continue as a guest</a>-->
    <!--</div>-->
    <!--<div class="alert alert-warning m-alert">-->
    <!--<small>-->
    <!--<a class="alert-link" (click)="requestResetPassword()" jhiTranslate="login.password.forgot">-->
    <!--Forget your password?</a>-->
    <!--</small>-->
    <!--</div>-->
    <!--<div class="alert alert-info m-alert">-->
    <!--<small>-->
    <!--<a class="alert-link" (click)="guest()" jhiTranslate="global.messages.info.guest">-->
    <!--Continue as a guest-->
    <!--</a>-->
    <!--</small>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</div>

<div class="col text-center">
    <div class="btn btn-outline-neutral btn-round btn-lg" (click)="register()">
        <a class="" jhiTranslate="global.messages.info.register.link">Create a new account</a>
    </div>
</div>

<div class="col text-center" style="margin-top: 15px">
    <div class="btn btn-outline-neutral btn-round btn-lg" (click)="guest()">
        <a class="" jhiTranslate="global.messages.info.guest">Continue as a guest</a>
    </div>
</div>
