<!--<div>-->
<!--<div class="ui-inputgroup">-->
<!--<span class="ui-inputgroup-addon"><i class="fa fa-envelope"></i></span>-->
<!--<input type="text" pInputText [(ngModel)]="email" placeholder="email">-->
<!--</div>-->
<!--<br/>-->
<!--<div class="ui-inputgroup">-->
<!--<span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>-->
<!--<input type="password" pInputText [(ngModel)]="password" placeholder="password">-->
<!--</div>-->
<!--<br/>-->
<!--<p-button label="Login" ></p-button>-->
<!--</div>-->

<div class="login-body">
    <div id="login-wrapper">
        <div id="login-container">
            <p-card title="{{'login.title' | translate}}">
                <jhi-signin></jhi-signin>
            </p-card>
            <p-card title="{{'register.title' | translate}}">
                <jhi-signup></jhi-signup>
            </p-card>
        </div>
        <div class="login-footer">©2018 MyApp, Inc. All rights reserved.</div>
        <div class="login-footer-down"></div>
    </div>
</div>
