<!--<div>-->
<!--<div class="ui-inputgroup">-->
<!--<span class="ui-inputgroup-addon"><i class="fa fa-envelope"></i></span>-->
<!--<input type="text" pInputText [(ngModel)]="email" placeholder="email">-->
<!--</div>-->
<!--<br/>-->
<!--<div class="ui-inputgroup">-->
<!--<span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>-->
<!--<input type="password" pInputText [(ngModel)]="password" placeholder="password">-->
<!--</div>-->
<!--<br/>-->
<!--<p-button label="Login" ></p-button>-->
<!--</div>-->

<div class="login-body">
    <div id="login-wrapper">
        <div id="login-container">
            <div *ngIf="isLogin; else register">
                <p-card *ngIf="isLogin" title="{{'login.title' | translate}}">
                    <jhi-signin (close)="onChange($event)"></jhi-signin>
                </p-card>
            </div>
            <ng-template #register>
                <p-card *ngIf="!isLogin" title="{{'register.title' | translate}}">
                    <jhi-signup (close)="onChange($event)"></jhi-signup>
                </p-card>
            </ng-template>
        </div>
        <div class="login-footer">©2018 MyApp, Inc. All rights reserved.</div>
        <div class="login-footer-down"></div>
    </div>
</div>
